
body {
    background-image:url(https://storage.googleapis.com/support-forums-api/attachment/thread-19640816-3408834347039417392.PNG);

background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
p {
    Font-size: 300%;
    font-family: monospace;
    color:rgb(248, 248, 248)
    
}
div {
    max-width: 1000px;
}

